@import "src/styles/variables";

.ToggleInput {
    &-label {
        color: $timberwolf;
        cursor: pointer;
        display: inline-block;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: .3px;
        transition: color .2s ease-in-out;
        vertical-align: middle;
    }

    &-label-enabled {
        color: $bluefish;
    }

    &-toggle-bg {
        background-color: $bluefish;
        border-radius: 20px;
        cursor: pointer;
        display: inline-block;
        height: 18px;
        margin-left: 8px;
        margin-right: 8px;
        position: relative;
        vertical-align: middle;
        width: 30px;
    }

    &-toggle {
        background-color: white;
        border-radius: 7px;
        height: 14px;
        position: absolute;
        top: 2px;
        transition: left .2s ease-in-out;
        width: 14px;
    }

    &-toggle-left {
        left: 3px;
    }

    &-toggle-right {
        left: 13px;
    }
}
