@import "src/styles/variables.scss";

.GroupedBarChartYaxis {
    &-label {
        transform: translate(9px, 4px);
    }

    &-line {
        stroke: $timberwolf;
    }

    &-tick {
        stroke: $timberwolf;
    }
}
