@import "src/styles/variables";

.ChartInteractive {
    .Circle {
        fill: $rhino;
    }

    .ChartContainer {
        border: none;
    }

    .ChartContainer-svg {
        border: 1px solid $koala;
        border-radius: 3px;
        display: block;
        margin-top: 10px;
        overflow: visible;
    }

    .HoverLine {
        stroke: $timberwolf;
        stroke-width: 1;
    }

    .ChartYaxis-label {
        fill: $timberwolf;
        font-size: 10px;
        position: relative;
        transform: translate(10px, 3px);
    }

    .ChartXaxis-label,
    .ChartXaxis-hover-text {
        fill: $timberwolf;
        font-size: 10px;
        position: relative;
        transform: translate(-5px, -10px);
    }

    .ChartAreaPath {
        stroke: none;
    }

    .Circle-text {
        fill: $rhino;
    }
}

.ChartInteractive .NoGraphData {
    color: $rhino;
    font-size: 14px;
}

.ChartInteractive .HoverSpot {
    position: absolute;
    z-index: 100;
}

.ChartInteractive .ChartGrid-y-line,
.ChartInteractive .ChartGrid-x-line {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 1;
}

.ChartInteractive .ChartContainer,
.ChartInteractive .ChartContainer-svg {
    overflow: visible;
}
