@import "src/styles/variables";

.SnapshotItem {
    border-right: 1px solid $koala;
    padding: 0;
    position: relative;
    text-align: center;

    &:last-child {
        border-right: none;
    }

    & .Icons-info {
        vertical-align: text-top;
    }

    &-line {
        margin: 0 auto;
        margin-bottom: 5px;
        width: 15px;
    }

    &-title {
        color: $grey_300;
        font-weight: $weight_bold;
    }

    &-value {
        margin-top: 0;
    }
}
