/* brand colors */
$fox: #ff893e;
$humpback: #093c59;

/* UI greys */
$gorilla: #4a4a4a;
$rhino: #6d6565;
$timberwolf: #a8a0a0;
$koala: #d9d2d0;
$mouse: #f2f2f2;
$white: #fff;

/* UI colors */
$fox_light: #fff3eb;
$turtle: #78a22f;
$turtle_light: #f1f5ea;
$parrot: #d54236;
$parrot_light: #faecea;
$bluejay: #026ead;
$bluejay_light: #e5f0f6;
$bluefish: #338ee8;

/* infographic colors */
$peacock: #9f0088;
$octopus: #4b3da3;
$chameleon: #419b86;
