@import "src/styles/variables";

.ListHeader {
    border-bottom: 1px solid $grey_200;
    padding: 15px;

    &-list-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 10px 0;
    }

    &-header-text {
        font-size: 16px;
        margin: 0;
    }
}
