@import "src/styles/variables";

.TerritoriesListManager {
    background-color: $white;
    padding: 0;

    &-header {
        border-bottom: 1px solid $grey_200;
        padding: 15px;
    }

    &-territories-list {
        height: 279px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &-undo-message {
        background: $blue_150;
        border-top: none;
        padding: 10px 15px;
    }

    &-move-button {
        background: $blue_200;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        margin: 20px 0 0;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
    }
}
